/* GLOBAL STYLES
-----------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
}

/* HEADER 
-----------------*/
header {
  background: url(../images/baltimore-rowhouses.jpg);
  text-align: center;
  padding: 150px 0;
}