/* GLOBAL STYLES
-----------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: url(../images/6.jpg) no-repeat fixed;
  background-size: cover;
}
h1 {
  font-size: 50px;
  font-family: 'Satisfy', cursive;
}
a {
  color: #8c9d87;
}


/* SHARED STYLES 
-----------------*/
.content-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 100px 0;
}
nav,
.about, 
footer {
  background: #111;
  color: #efefef;
}


/* LOGO 
-----------------*/
.logo {
  font-family: 'Satisfy', cursive;
  font-size: 28px;
  border: 2px solid #8c9d87;
  border-radius: 50%;
  display: inline-block;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
}


/* NAV 
-----------------*/
nav {
  text-align: right;
}
nav a {
  display: inline-block;
  padding: 30px;
  text-decoration: none;
  text-transform: uppercase;
}


/* HEADER 
-----------------*/
header {
  background: url(../images/baltimore-rowhouses.jpg) no-repeat fixed;
  background-size: cover;
  text-align: center;
  padding: 150px 0;
}
header h1 { 
  font-size: 150px;
}